# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.HomeworkLesson16.iml
# Datasource local storage ignored files
/../../../../../../:\projects\HomeworkLesson16\.idea\.idea.HomeworkLesson16\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
